@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;0,900;1,700&display=swap');
:root{
    /* color primario */
    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);
    /* Neutral */
    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);

}
*{
    margin:  0;
    padding: 0;
}

body{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  background-color: var(--Paleblue);
  background-image: url('../images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-size:contain;
  
}
.contenedor-cards{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
}
.card{
    position: relative;
    margin-top: 6rem;
    width: 400px;
    height: 650px;
    background-color: #fff;
    border-radius: 20px;
    border:solid 1px rgb(219, 219, 219);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 15px 10px -5px rgba(138, 138, 138, 0.246);
    overflow: hidden;

}
.card__body{
    text-align: center;
    padding: 2rem;
    color: var(--Desaturatedblue);
}

.card__body h1{
    padding-bottom: 1rem;
    color: var(--Darkblue);
}

.card__body > .boxPlan
{
    margin-top: 1rem;
    background-color: var(--Verypaleblue);
    height: 80px;
    width: 100%;
    border-radius: 10px;
    /* padding: 10px; */
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 15px;
}
 .card__body > .boxPlan > img {
    margin-left:20px;
    width: 50px;
    height: 50px;

} 
.card__body > .boxPlan  p{
    font-weight: bolder;
    color: var(--Darkblue);
}
.card__body > .boxPlan >a{
    position: absolute;
    font-weight:bolder;
    color: var(--Darkblue);
    right: 20px;
    cursor: pointer;
    transition: color 1s, text-decoration 1s;

}
.card__body > .boxPlan >a:hover{
    color: var(--Brightblue);

    text-decoration: none;

}

.card__body > .btns{
    margin-top: 1rem;
    /* background-color: chocolate; */
    /* width: 100%; */
    /* height: 40px; */
    padding: 10px;
}
.card__body  .btn-proceed {
    width: 100%;
    background: var(--Darkblue);
    color:var(--Paleblue);
    font-weight: 700;
    font-size: 16px;
    border:none;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 15px 20px 5px rgba(63, 63, 63, 0.246);
    transition: background 1s;
    cursor: pointer;
    /* box-shadow: 0px 15px 10px -5px rgba(138, 138, 138, 0.246); */
 
}
.card__body  .btn-proceed:hover{

    background:var(--Brightblue);
}
.card__body > .btns a{
    display: inline-block;
    margin-top: 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: color 1s;
}
.card__body > .btns a:hover{
    color: var(--Darkblue);
}
